<%
  var _default = json['default'];
  for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
      page[key] = _default[key];
    }
  }
-%>
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="utf-8">
	<title><%= page['title'] %></title>
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-title" content="<%= page['sitename'] %>">
	<meta name="keywords" content="<%= page['keywords'] %>">
	<meta name="description" content="<%= page['description'] %>">
	<meta property="og:title" content="<%= page['title'] %>">
	<meta property="og:url" content="<%= page['url'] %>">
	<meta property="og:description" content="<%= page['description'] %>">
	<meta property="og:type" content="website">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="<%= page['ogp_img'] %>">
	<meta property="og:image" content="<%= page['ogp_img'] %>">
	<meta property="og:site_name" content="<%= page['ogp_img'] %>">
	<meta property="og:locale" content="ja_JP">
	<!-- favicon -->
	<!--
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
	<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/share/images/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/share/images/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/share/images/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/share/images/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/share/images/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/share/images/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/share/images/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/share/images/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/share/images/icon/apple-icon-180x180.png">
	-->
	<!-- // favicon -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>